<footer style="background-color:black; font-size: 20px;">
 <footer class="container-fluid:" style="background-color: black;">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-3 col-lg-3">
        <h2 style="color:white">Ajio</h2><br><br>
        <strong style="color:white">Who We Are</strong><br>
        <strong style="color:white">Join Our Team</strong><br>
        <strong style="color:white">Terms & Conditions</strong><br>
        <strong style="color:white">We respect your privacy</strong><br>
        <strong style="color:white">Fees & Payments</strong><br>
        <strong style="color:white">Returns & Refunds Policy</strong><br>
        <strong style="color:white">Promotions Terms & Conditions</strong>
      </div>
      <div class="col-12 col-md-3 col-lg-3">
        <h2 style="color:white">Help</h2><br><br>
        <strong style="color:white">Track your order</strong><br>
        <strong style="color:white">Frequently Asked Questions</strong><br>
        <strong style="color:white">Returns</strong><br>
        <strong style="color:white">Cancellations</strong><br>
        <strong style="color:white">Payments</strong><br>
        <strong style="color:white">Customer Care</strong><br>
        <strong style="color:white">How Do I Redeem My Coupon</strong>
      </div>
      <div class="col-12 col-md-3 col-lg-3">
        <h2 style="color:white">Shop by</h2><br><br>
        <strong style="color:white">Men</strong><br>
        <strong style="color:white">Women</strong><br>
        <strong style="color:white">Kids</strong><br>
        <strong style="color:white">Stores</strong><br>
        <strong style="color:white">New Arrivals</strong><br>
        <strong style="color:white">Brand Directory</strong><br>
        <strong style="color:white">Home</strong>
      </div>
      <div class="col-12 col-md-3 col-lg-3">
        <h2 style="color:white">Follow us</h2><br><br>
        <strong style="color:white">Facebook</strong><br>
        <strong style="color:white">Instagram-Ajiolife</strong><br>
        <strong style="color:white">Instagram-AjioLuxe</strong><br>
        <strong style="color:white">Twitter</strong><br>
        <strong style="color:white">Pinterest</strong>
      </div>
    </div>
  </div>
</footer>
</footer>
