<div id="carouselExample" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li *ngFor="let item of carouselItems; let i = index" [attr.data-target]="'#carouselExample'" [attr.data-slide-to]="i" [class.active]="i === 0"></li>
  </ol>
  <div class="carousel-inner">
    <div *ngFor="let item of carouselItems; let i = index" class="carousel-item" [class.active]="i === 0">
      <img [src]="item.image" class="d-block w-100" [alt]="item.alt">
      <div class="carousel-caption">
        <h5>{{ item.caption }}</h5>
        <p>{{ item.content }}</p>
      </div>
    </div>
  </div>
</div>
