h1 {
  align: center;
}
.card:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.card-title {
  font-weight: bold;
}

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  margin: 10px;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease;
}

.card img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.card:hover img {
  filter: brightness(70%);
}
#fluid img:hover {
  transform: scale(1.1); /* Increase the scale on hover */
  transition: transform 0.2s ease-in-out; /* Add a smooth transition effect */
}
.image-container {
  display: flex;
}

.image-container img {
  border-radius: 50%;
}
.image-container {
  display: flex;
}

.image-container {
  display: flex;
}

.image-container img {
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.image-container img:hover {
  transform: scale(1.2);
}


