<head>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Ajio</a>
   <h1>Ajio</h1>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Men <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Women</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#" >kids</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#" >Home and Kitchen</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">AjioSearch</button>
    </form>
  </div>
</nav>
<div class="container-fluid">
<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carosel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"  aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"  aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3"  aria-label="Slide 4"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4"  aria-label="Slide 5"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="5"  aria-label="Slide 6"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="6"  aria-label="Slide 7"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="3000">
      <img src="../../assets/01062023-UHP-Mainbanner-D-5090.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>First slide label</h5>
        <p>Some representative placeholder content for the first slide.</p>
      </div>
    </div>
<div class="carousel-item" data-bs-interval="3000">
  <img src="../../assets/02062023-UHP-D-Main-P3-TrendsJohnPlayersLeeCooper-Under499.jpg" class="d-block w-100" alt="...">
  <div class="carousel-caption d-none d-md-block">
    <h5>Second slide label</h5>
    <p>Some representative placeholder content for the Second slide.</p>
  </div>
    </div>
<div class="carousel-item" data-bs-interval="3000">
  <img src="../../assets/02062023-UHP-D-Main-P5-Puma-Min50.jpg" class="d-block w-100" alt="...">
  <div class="carousel-caption d-none d-md-block">
    <h5>Third slide label</h5>
    <p>Some representative placeholder content for the third slide.</p>
  </div>
    </div>
<div class="carousel-item" data-bs-interval="3000">
  <img src="../../assets/03062023-UHP-D-Main-P2-SpykarJJ-4060.jpg" class="d-block w-100" alt="...">
  <div class="carousel-caption d-none d-md-block">
    <h5>Fourth slide label</h5>
    <p>Some representative placeholder content for the fourth slide.</p>
  </div>
    </div>
<div class="carousel-item" data-bs-interval="3000">
  <img src="../../assets/03062023-UHP-D-Main-P3-ZinkKotty-Starting400extraupto35.jpg" class="d-block w-100" alt="...">
  <div class="carousel-caption d-none d-md-block">
    <h5>Fifth slide label</h5>
    <p>Some representative placeholder content for the fifth slide.</p>
  </div>
    </div>
<div class="carousel-item" data-bs-interval="3000">
  <img src="../../assets/03062023-UHP-D-Main-P5-AllenSollyVanHeusen-Min40.jpg" class="d-block w-100" alt="...">
  <div class="carousel-caption d-none d-md-block">
    <h5>Sixth slide label</h5>
    <p>Some representative placeholder content for the sixth slide.</p>
  </div>
    </div>
<div class="carousel-item" data-bs-interval="3000">
  <img src="../../assets/03062023-UHP-D-Main-P6-HidesignTommyhilfiger-upto60extra10.jpg" class="d-block w-100" alt="...">
  <div class="carousel-caption d-none d-md-block">
    <h5>seventh slide label</h5>
    <p>Some representative placeholder content for the seventh slide.</p>
  </div>
    </div>
  </div>
</div>
<marquee  direction="left">
 <img src="../../assets/01052023-UHP-BBS-1440x128-WithCTA.jpg" class="card-img-top" alt="...">
  <img src="../../assets/01062023-UHP-1440x128-WithCTA.jpg" class="card-img-top" alt="...">
   <img src="../../assets/01062023-UHP-Bankoffer-Upto10-Ajiowallets.jpg" class="card-img-top" alt="...">
    <img src="../../assets/01062023-UHP-BBS-Paytm-903x80-WithCTA-1440x128-Without CTA.jpg" class="card-img-top" alt="...">
     <img src="../../assets/01062023-UHP-Walletoffer-D-Shopearnredeemrepeat.jpg" class="card-img-top" alt="...">
</marquee>
<div class="container-fluid">
  <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"  aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"  aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3"  aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4"  aria-label="Slide 5"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="5"  aria-label="Slide 5"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/04062023-UHP-D-Sponsor-P1-Adidas-4070.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>First slide label</h5>
          <p>Some representative placeholder content for the first slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../assets/04062023-UHP-D-Sponsor-P2-Gap-upto50.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Second slide label</h5>
          <p>Some representative placeholder content for the Second slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../assets/04062023-UHP-D-Sponsor-P3-Melorra-Upto50.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Some representative placeholder content for the third slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../assets/04062023-UHP-D-Sponsor-P4-Puma-4070.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Fourth slide label</h5>
          <p>Some representative placeholder content for the fourth slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../assets/04062023-UHP-D-Sponsor-P7-Birkenstock-upto20.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Fifth slide label</h5>
          <p>Some representative placeholder content for the fifth slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../assets/04062023-UHP-D-Sponsor-P7-ONLY-Min65.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>sixth slide label</h5>
          <p>Some representative placeholder content for the Sixth slide.</p>
        </div>
      </div>
      <!-- Add the rest of the carousel items following the same structure -->
    </div>
  </div>
</div>
</div>
