<head>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Ajio</a>
   <h1>Ajio</h1>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Men <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Women</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#" >kids</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#" >Home and Kitchen</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">AjioSearch</button>
    </form>
  </div>
</nav>
<!-- <div class="container-fluid"> -->
<div id="carouselExample" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"  aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"  aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3"  aria-label="Slide 4"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4"  aria-label="Slide 5"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="5"  aria-label="Slide 5"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="6"  aria-label="Slide 6"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="2000">
      <a [routerLink]="['/carousel1']" routerLinkActive="active"><img src="../../assets/01062023-UHP-Mainbanner-D-5090.jpg" class="d-block w-100" alt="Slide 1"></a>
      <div class="carousel-caption">
        <h5>Slide 1</h5>
        <p>Some representative placeholder content for the first slide.</p>
      </div>
    </div>
<div class="carousel-item" data-bs-interval="2000">
  <img src="../../assets/02062023-UHP-D-Main-P3-TrendsJohnPlayersLeeCooper-Under499.jpg" class="d-block w-100" alt="Slide 2">
  <div class="carousel-caption">
    <h5>Slide 2</h5>
    <p>Some representative placeholder content for the Second slide.</p>
  </div>
    </div>
<div class="carousel-item" data-bs-interval="2000">
  <img src="../../assets/02062023-UHP-D-Main-P5-Puma-Min50.jpg" class="d-block w-100" alt="Slide 3">
  <div class="carousel-caption">
    <h5>Slide 3</h5>
    <p>Some representative placeholder content for the third slide.</p>
  </div>
    </div>
<div class="carousel-item" data-bs-interval="2000">
  <img src="../../assets/03062023-UHP-D-Main-P2-SpykarJJ-4060.jpg" class="d-block w-100" alt="Slide 4">
  <div class="carousel-caption">
    <h5>Slide 4</h5>
    <p>Some representative placeholder content for the fourth slide.</p>
  </div>
    </div>
<div class="carousel-item" data-bs-interval="2000">
  <img src="../../assets/03062023-UHP-D-Main-P3-ZinkKotty-Starting400extraupto35.jpg" class="d-block w-100" alt="Slide 5">
  <div class="carousel-caption">
    <h5>Slide 5</h5>
    <p>Some representative placeholder content for the fifth slide.</p>
  </div>
    </div>
<div class="carousel-item" data-bs-interval="2000">
  <img src="../../assets/03062023-UHP-D-Main-P5-AllenSollyVanHeusen-Min40.jpg" class="d-block w-100" alt="Slide 6">
  <div class="carousel-caption">
    <h5>Slide 6</h5>
    <p>Some representative placeholder content for the sixth slide.</p>
  </div>
    </div>
<div class="carousel-item">
  <img src="../../assets/03062023-UHP-D-Main-P6-HidesignTommyhilfiger-upto60extra10.jpg" class="d-block w-100" alt="Slide 7">
  <div class="carousel-caption">
    <h5>Slide 7</h5>
    <p>Some representative placeholder content for the seventh slide.</p>
  </div>
    </div>
</div>
  <!-- </div> -->
  <a class="carousel-control-prev" href="#carouselExample" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExample" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
<marquee  direction="left">
 <img src="../../assets/01052023-UHP-BBS-1440x128-WithCTA.jpg" class="card-img-top" alt="...">
  <img src="../../assets/01062023-UHP-1440x128-WithCTA.jpg" class="card-img-top" alt="...">
   <img src="../../assets/01062023-UHP-Bankoffer-Upto10-Ajiowallets.jpg" class="card-img-top" alt="...">
    <img src="../../assets/01062023-UHP-BBS-Paytm-903x80-WithCTA-1440x128-Without CTA.jpg" class="card-img-top" alt="...">
     <img src="../../assets/01062023-UHP-Walletoffer-D-Shopearnredeemrepeat.jpg" class="card-img-top" alt="...">
</marquee>
<div class="container-fluid">
  <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"  aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"  aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3"  aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4"  aria-label="Slide 5"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="5"  aria-label="Slide 5"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="2000">
        <img src="../../assets/04062023-UHP-D-Sponsor-P1-Adidas-4070.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>First slide label</h5>
          <p>Some representative placeholder content for the first slide.</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="../../assets/04062023-UHP-D-Sponsor-P2-Gap-upto50.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Second slide label</h5>
          <p>Some representative placeholder content for the Second slide.</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="../../assets/04062023-UHP-D-Sponsor-P3-Melorra-Upto50.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Some representative placeholder content for the third slide.</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="../../assets/04062023-UHP-D-Sponsor-P4-Puma-4070.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Fourth slide label</h5>
          <p>Some representative placeholder content for the fourth slide.</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="../../assets/04062023-UHP-D-Sponsor-P7-Birkenstock-upto20.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Fifth slide label</h5>
          <p>Some representative placeholder content for the fifth slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../assets/04062023-UHP-D-Sponsor-P7-ONLY-Min65.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>sixth slide label</h5>
          <p>Some representative placeholder content for the Sixth slide.</p>
        </div>
      </div>
      <!-- Add the rest of the carousel items following the same structure -->
    </div>
  </div>
</div>
</div>
<h1 style="color:blue" align="center">NEW ON THE <strong>BEST SELLERS</strong></h1>
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="2000">
      <img src="../../assets/01062023-UHP-Newonthebestsellers-D-P1-Menswesternwear-Starting299.avif" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="../../assets/01062023-UHP-Newonthebestsellers-D-P3-Womensethnicwear-Starting249.avif" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="../../assets/01062023-UHP-Newonthebestsellers-D-P4-Footwear-Upto80.avif" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="../../assets/01062023-UHP-Newonthebestsellers-D-P5-Kidswear-Starting129.avif" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="../../assets/01062023-UHP-Newonthebestsellers-D-P6-Accessories-Starting179.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="../../assets/01062023-UHP-Newonthebestsellers-D-P7-Homedecor-Upto80.avif" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../assets/01062023-UHP-Newonthebestsellers-D-P8-Mensethnicwear-Upto80.avif" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<h1 style="color: orange" align="center">TODAY'S<strong>FASHION BULLETIN</strong></h1>
<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="2000">
      <img src="../../assets/28062023-UHP-D-daily-P1-AzorteAltheoryOutryt-Min50.avif" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="../../assets/28062023-UHP-D-Daily-P2-titanGshock-upto60.avif" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="../../assets/28062023-UHP-D-Daily-P3-LevisUspa-upto50.avif" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="../../assets/28062023-UHP-D-Daily-P4-BucikSoetopia-Starting249extra35.avif" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="../../assets/28062023-UHP-D-Daily-P5-Lifestyle-upto60.avif" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="../../assets/28062023-UHP-D-Daily-P6-Mns-upot50.avif" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../assets/28062023-UHP-D-daily-P7-BeltWallets-KastnerWildhorn-Upto85.avif" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<h1 style="color:red" align="center"><strong>BOLD STYLES</strong>FOR HIM</h1>
<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
     <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="2000">
      <img src="../../assets/28062023-d-mhp-uhphim-p1-adidas-skechers-upto50.webp" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>First slide label</h5>
        <p>Some representative placeholder content for the first slide.</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="../../assets/28062023-d-mhp-uhphim-p2-dnmx-trendyol-starting699.avif" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Second slide label</h5>
        <p>Some representative placeholder content for the second slide.</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="../../assets/28062023-d-mhp-uhphim-p4-gas-gant-upto60.avif" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Third slide label</h5>
        <p>Some representative placeholder content for the third slide.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../assets/28062023-d-mhp-uhphim-p5-levis-incite-under699.avif" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Fourth slide label</h5>
        <p>Some representative placeholder content for the fourth slide.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<h1 style="color: blue" align="center"><strong>FRONT PAGE FASHION</strong>FOR HER</h1>
<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="2000">
      <img src="../../assets/28062023-UHP-D-UHPwomen-p1-carltonlondon-sneakapeek-upto70.avif" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>First slide label</h5>
        <p>Some representative placeholder content for the first slide.</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="../../assets/28062023-UHP-D-UHPwomen-p2-forevernew-upto50.avif" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Second slide label</h5>
        <p>Some representative placeholder content for the second slide.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../assets/28062023-UHP-D-UHPwomen-p3-max-kappa-upto60.avif" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Third slide label</h5>
        <p>Some representative placeholder content for the third slide.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../assets/28062023-UHP-D-UHPwomen-p5-koovs-iscenery-under699.avif" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>FOURTH slide label</h5>
        <p>Some representative placeholder content for the fourth slide.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<h1 align="center"><span style="color:brown">N</span><span style="color:red">e</span><span style="color: orange;">w</span><span style="color:brown">C</span><span style="color:red">a</span><span style="color:orange">t</span><span style="color:brown">e</span><span style="color:red">g</span><span style="color:orange">o</span><span style="color: brown">r</span><span style="color:red">i</span><span style="color: orange">e</span><span style="color:blue">s</span> To Watch Out For</h1>
<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
     <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4" aria-label="Slide 5"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="2000">
      <img src="../../assets/27062023-UHP-D-NC-P1-handbagsWallets-Flat70.avif" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>First slide label</h5>
        <p>Some representative placeholder content for the first slide.</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="../../assets/27062023-UHP-D-NC-P2-Homeexpressionsjaipurfabric-5080.avif" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Second slide label</h5>
        <p>Some representative placeholder content for the second slide.</p>
      </div>
    </div>
     <div class="carousel-item" data-bs-interval="2000">
      <img src="../../assets/27062023-UHP-D-NC-P3-MatchittZaveriPearls-min80.avif" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Third slide label</h5>
        <p>Some representative placeholder content for the third slide.</p>
      </div>
    </div>
     <div class="carousel-item" data-bs-interval="2000">
      <img src="../../assets/27062023-UHP-D-NC-P4-lavieLinoPerros-flat70.avif" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Fourth slide label</h5>
        <p>Some representative placeholder content for the fourth slide.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../assets/27062023-UHP-D-NC-P5-giuessfossil-upto60.avif" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Fifth slide label</h5>
        <p>Some representative placeholder content for the fifth slide.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="container-fluid" style="background-color: red">
  <h1 style="color:white" align="center">NEW ON THE <strong>HITLIST</strong></h1>
</div>
<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4" aria-label="Slide 5"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="5" aria-label="Slide 6"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="6" aria-label="Slide 7"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="2000">
      <img src="../../assets/27062023-UHP-D-JIT-P1-Akshangup-Flat60extra30.avif" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>First slide label</h5>
        <p>Some representative placeholder content for the first slide.</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="../../assets/27062023-UHP-D-JIT-P2-DennislingoTheBearHouse-Min60.avif" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Second slide label</h5>
        <p>Some representative placeholder content for the second slide.</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="../../assets/27062023-UHP-D-JIT-P3-DolceCrudoEyebogler-Starting249ExtrauPto35.avif" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Third slide label</h5>
        <p>Some representative placeholder content for the third slide.</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="../../assets/27062023-UHP-D-JIT-P4-StylumTheBearhouse-min60extraupto30.avif" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Fourth slide label</h5>
        <p>Some representative placeholder content for the fourth slide.</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="../../assets/27062023-UHP-D-JIT-P5-EvenGulmoharJaipur-Flat60extraupto30.avif" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Fifth slide label</h5>
        <p>Some representative placeholder content for the fifth slide.</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="../../assets/27062023-UHP-D-JIT-P6-KottyDillinger-Under499extraupto35.avif" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Sixth slide label</h5>
        <p>Some representative placeholder content for the sixth slide.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../assets/27062023-UHP-D-JIT-P7-BullmerVeroModa-Min55extraupto35.avif" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Seventh slide label</h5>
        <p>Some representative placeholder content for the seventh slide.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="container-fluid" style="background-color:red">
  <h1 style="color:white" align="center">MOST<strong>WANTED TRENDS</strong></h1>
</div>
<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4" aria-label="Slide 5"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="5" aria-label="Slide 6"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="6" aria-label="Slide 7"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="7" aria-label="Slide 8"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="2000">
      <img src="../../assets/01062023-UHP-Mostwantedtrends-D-P1-Avaasadnmx-Upto70.avif" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>First slide label</h5>
        <p>Some representative placeholder content for the first slide.</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="../../assets/01062023-UHP-Mostwantedtrends-D-P2-Budajeans-4070s.avif" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Second slide label</h5>
        <p>Some representative placeholder content for the second slide.</p>
      </div>
    </div>
     <div class="carousel-item" data-bs-interval="2000">
      <img src="../../assets/01062023-UHP-Mostwantedtrends-D-P3-Outryt-Min50.avif" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Third slide label</h5>
        <p>Some representative placeholder content for the third slide.</p>
      </div>
    </div>
     <div class="carousel-item" data-bs-interval="2000">
      <img src="../../assets/01062023-UHP-Mostwantedtrends-D-P4-Leecooperjohnplayer-4070.avif" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Fourth slide label</h5>
        <p>Some representative placeholder content for the fourth slide.</p>
      </div>
    </div>
     <div class="carousel-item" data-bs-interval="2000">
      <img src="../../assets/01062023-UHP-Mostwantedtrends-D-P5-Fusion-Upto70.avif" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Fifth slide label</h5>
        <p>Some representative placeholder content for the fifth slide.</p>
      </div>
    </div>
     <div class="carousel-item" data-bs-interval="2000">
      <img src="../../assets/01062023-UHP-Mostwantedtrends-D-P6-Figrio-Min50.avif" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Sixth slide label</h5>
        <p>Some representative placeholder content for the sixth slide.</p>
      </div>
    </div>
     <div class="carousel-item" data-bs-interval="2000">
      <img src="../../assets/01062023-UHP-Mostwantedtrends-D-P7-Frends-Under399s.avif" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Seventh slide label</h5>
        <p>Some representative placeholder content for the seventh slide.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../assets/01062023-UHP-Mostwantedtrends-D-P8-Hiattitude-Upto801.avif" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Eighth slide label</h5>
        <p>Some representative placeholder content for the eighth slide.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="container-fluid" style="background-color:red">
 <h1 style="color:white" align="center">THE AJIO<strong>BRAND VERSE</strong></h1>
</div>
